body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

nav{
	margin-left: auto;
}

li{
	border-right: 1px solid #fff;
}

.header{
	background: #273B47;
}

.header-2{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu{
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
	display: flex;
}

.logo{
	padding: 12px;
}

.menu li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding: 15px;
	font-size: 1em;
}

.login{
	font-size: 15px;
	font-weight: bold;
	color: white;
	background: #FF4842;
	border-bottom: 3px solid #D0272A;
	border-radius: 5px;
	padding: 10px 14px 8px 14px;
	margin-right: .7em;
}

.menu li:last-child{
	border-right: none;
}

.container{
	display: flex;
	justify-content: center;
	max-width: 1000px;
	margin: auto;
}

.portada{
	padding-top: 2.7em;
	background: #EFEFEF;
}

.relative-post{
	position: relative;
}

.portada a {
	text-decoration: none;
	color: #515151;

}

.img-portada{
	max-width: 1000px;
	max-height: 560px;
}

.principal{

}

.info-post{
	background: rgba(255,255,255,0.8);
	padding: 2em 4em;
	position: absolute;
	left: 410px;
	bottom: 115px;
}

.footer-post{
	display: flex;
}
.img-author{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.author{
	margin-right: 30px;
}
